In [6]:
import keras

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv ")

In [9]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [10]:
df.shape

(1030, 9)

In [11]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [12]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [13]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']]
target = df['Strength']

In [14]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [15]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [16]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
ncols = predictors_norm.shape[1]
ncols

8

In [19]:
from keras.models import Sequential
from keras.layers import Dense

In [20]:
def regression_model():
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(ncols,))) 
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [34]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 4s - loss: 35.0980 - val_loss: 131.7270
Epoch 2/100
 - 1s - loss: 34.6259 - val_loss: 144.3357
Epoch 3/100
 - 0s - loss: 35.0582 - val_loss: 142.3710
Epoch 4/100
 - 0s - loss: 34.2403 - val_loss: 139.3932
Epoch 5/100
 - 0s - loss: 33.7629 - val_loss: 151.5161
Epoch 6/100
 - 0s - loss: 33.6488 - val_loss: 136.0599
Epoch 7/100
 - 0s - loss: 33.5582 - val_loss: 137.2612
Epoch 8/100
 - 0s - loss: 33.0187 - val_loss: 150.9126
Epoch 9/100
 - 0s - loss: 33.7251 - val_loss: 136.1156
Epoch 10/100
 - 1s - loss: 32.4936 - val_loss: 145.1825
Epoch 11/100
 - 11s - loss: 32.3553 - val_loss: 141.3259
Epoch 12/100
 - 2s - loss: 32.2989 - val_loss: 142.2298
Epoch 13/100
 - 1s - loss: 32.2424 - val_loss: 144.1312
Epoch 14/100
 - 0s - loss: 31.9342 - val_loss: 149.9214
Epoch 15/100
 - 0s - loss: 31.4494 - val_loss: 141.5563
Epoch 16/100
 - 0s - loss: 31.4213 - val_loss: 146.7255
Epoch 17/100
 - 1s - loss: 31.4144 - val_loss: 147.3723
Epoch 18/100
 - 2s - loss: 30.7726 - val_loss: 153.8125
Epoch 19/100
 - 1s - loss: 30.7319 - val_loss: 147.8135
Epoch 20/100
 - 0s - loss: 30.6211 - val_loss: 143.3980
Epoch 21/100
 - 0s - loss: 30.7594 - val_loss: 148.0772
Epoch 22/100
 - 0s - loss: 29.9905 - val_loss: 150.7529
Epoch 23/100
 - 0s - loss: 29.9190 - val_loss: 146.6527
Epoch 24/100
 - 12s - loss: 29.6429 - val_loss: 156.2331
Epoch 25/100
 - 2s - loss: 29.3400 - val_loss: 152.3121
Epoch 26/100
 - 1s - loss: 29.6260 - val_loss: 154.4020
Epoch 27/100
 - 0s - loss: 29.1566 - val_loss: 149.4141
Epoch 28/100
 - 0s - loss: 29.2599 - val_loss: 154.7649
Epoch 29/100
 - 0s - loss: 29.6918 - val_loss: 150.0299
Epoch 30/100
 - 0s - loss: 28.7195 - val_loss: 157.4888
Epoch 31/100
 - 0s - loss: 28.3742 - val_loss: 159.3258
Epoch 32/100
 - 0s - loss: 28.3796 - val_loss: 163.8710
Epoch 33/100
 - 0s - loss: 28.1346 - val_loss: 161.4963
Epoch 34/100
 - 0s - loss: 27.9031 - val_loss: 148.1870
Epoch 35/100
 - 0s - loss: 27.9923 - val_loss: 154.8968
Epoch 36/100
 - 0s - loss: 28.2014 - val_loss: 169.8688
Epoch 37/100
 - 9s - loss: 27.6030 - val_loss: 154.8254
Epoch 38/100
 - 6s - loss: 27.6307 - val_loss: 153.6400
Epoch 39/100
 - 1s - loss: 26.8308 - val_loss: 167.5989
Epoch 40/100
 - 0s - loss: 27.1739 - val_loss: 169.6078
Epoch 41/100
 - 0s - loss: 26.7276 - val_loss: 163.3527
Epoch 42/100
 - 0s - loss: 26.6587 - val_loss: 161.0894
Epoch 43/100
 - 0s - loss: 26.8629 - val_loss: 175.4626
Epoch 44/100
 - 0s - loss: 26.3030 - val_loss: 154.0118
Epoch 45/100
 - 2s - loss: 26.3755 - val_loss: 166.2731
Epoch 46/100
 - 10s - loss: 25.9924 - val_loss: 161.6243
Epoch 47/100
 - 0s - loss: 25.8313 - val_loss: 156.2915
Epoch 48/100
 - 0s - loss: 25.8093 - val_loss: 168.0692
Epoch 49/100
 - 0s - loss: 25.6219 - val_loss: 151.6633
Epoch 50/100
 - 5s - loss: 25.5258 - val_loss: 169.2748
Epoch 51/100
 - 1s - loss: 25.4860 - val_loss: 166.6286
Epoch 52/100
 - 0s - loss: 25.2404 - val_loss: 159.6762
Epoch 53/100
 - 0s - loss: 25.4452 - val_loss: 161.7829
Epoch 54/100
 - 1s - loss: 25.0834 - val_loss: 166.7855
Epoch 55/100
 - 0s - loss: 25.0688 - val_loss: 159.9080
Epoch 56/100
 - 0s - loss: 24.7975 - val_loss: 164.9620
Epoch 57/100
 - 0s - loss: 24.8324 - val_loss: 161.9267
Epoch 58/100
 - 0s - loss: 24.8793 - val_loss: 169.0070
Epoch 59/100
 - 10s - loss: 24.2821 - val_loss: 170.7341
Epoch 60/100
 - 2s - loss: 24.1922 - val_loss: 150.3328
Epoch 61/100
 - 1s - loss: 24.7812 - val_loss: 156.9807
Epoch 62/100
 - 0s - loss: 24.3704 - val_loss: 151.2091
Epoch 63/100
 - 0s - loss: 23.9629 - val_loss: 172.4080
Epoch 64/100
 - 0s - loss: 23.9753 - val_loss: 177.4154
Epoch 65/100
 - 0s - loss: 23.8158 - val_loss: 174.6989
Epoch 66/100
 - 1s - loss: 23.3681 - val_loss: 164.3727
Epoch 67/100
 - 1s - loss: 23.6262 - val_loss: 178.3090
Epoch 68/100
 - 0s - loss: 23.7540 - val_loss: 171.2612
Epoch 69/100
 - 0s - loss: 23.3152 - val_loss: 171.8332
Epoch 70/100
 - 1s - loss: 23.3748 - val_loss: 158.8246
Epoch 71/100
 - 1s - loss: 22.9479 - val_loss: 178.3938
Epoch 72/100
 - 10s - loss: 22.8445 - val_loss: 157.6527
Epoch 73/100
 - 1s - loss: 22.6463 - val_loss: 167.0893
Epoch 74/100
 - 5s - loss: 22.9724 - val_loss: 167.6836
Epoch 75/100
 - 2s - loss: 22.9617 - val_loss: 158.9542
Epoch 76/100
 - 9s - loss: 22.7562 - val_loss: 171.0783
Epoch 77/100
 - 1s - loss: 23.5255 - val_loss: 181.7285
Epoch 78/100
 - 0s - loss: 22.8746 - val_loss: 183.2051
Epoch 79/100
 - 0s - loss: 22.3898 - val_loss: 170.4301
Epoch 80/100
 - 0s - loss: 22.1521 - val_loss: 166.0751
Epoch 81/100
 - 0s - loss: 21.8665 - val_loss: 157.0588
Epoch 82/100
 - 0s - loss: 22.4766 - val_loss: 161.6142
Epoch 83/100
 - 0s - loss: 22.7589 - val_loss: 152.7676
Epoch 84/100
 - 1s - loss: 22.2837 - val_loss: 162.0985
Epoch 85/100
 - 5s - loss: 22.6919 - val_loss: 166.0827
Epoch 86/100
 - 10s - loss: 22.2777 - val_loss: 173.7850
Epoch 87/100
 - 5s - loss: 21.5496 - val_loss: 170.9216
Epoch 88/100
 - 2s - loss: 21.2528 - val_loss: 166.2923
Epoch 89/100
 - 2s - loss: 21.6245 - val_loss: 166.7503
Epoch 90/100
 - 13s - loss: 21.4173 - val_loss: 163.6704
Epoch 91/100
 - 2s - loss: 21.2666 - val_loss: 167.7364
Epoch 92/100
 - 10s - loss: 20.9009 - val_loss: 165.0309
Epoch 93/100
 - 1s - loss: 20.7425 - val_loss: 173.8239
Epoch 94/100
 - 0s - loss: 21.0135 - val_loss: 168.2590
Epoch 95/100
 - 0s - loss: 20.7040 - val_loss: 162.8479
Epoch 96/100
 - 1s - loss: 20.3830 - val_loss: 173.4486
Epoch 97/100
 - 2s - loss: 20.3117 - val_loss: 162.0817
Epoch 98/100
 - 2s - loss: 20.1728 - val_loss: 171.9084
Epoch 99/100
 - 2s - loss: 19.9521 - val_loss: 171.4210
Epoch 100/100
 - 9s - loss: 20.2575 - val_loss: 173.7175

In [35]:
model.save("regression_model.h5")
from keras.models import load_model
model1 = load_model('regression_model.h5')

In [22]:
model.fit(predictors_norm, target, validation_split=0.7, epochs=100, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 309 samples, validate on 721 samples
Epoch 1/100
 - 4s - loss: 2127.8994 - val_loss: 1308.0167
Epoch 2/100
 - 0s - loss: 2080.2358 - val_loss: 1279.4679
Epoch 3/100
 - 1s - loss: 2027.9729 - val_loss: 1247.7422
Epoch 4/100
 - 1s - loss: 1965.6519 - val_loss: 1209.2421
Epoch 5/100
 - 6s - loss: 1887.7032 - val_loss: 1161.1132
Epoch 6/100
 - 5s - loss: 1786.6381 - val_loss: 1101.0740
Epoch 7/100
 - 1s - loss: 1659.4990 - val_loss: 1028.7270
Epoch 8/100
 - 0s - loss: 1504.8237 - val_loss: 942.9932
Epoch 9/100
 - 0s - loss: 1320.9060 - val_loss: 846.0005
Epoch 10/100
 - 0s - loss: 1116.3119 - val_loss: 738.9604
Epoch 11/100
 - 0s - loss: 905.5221 - val_loss: 628.7877
Epoch 12/100
 - 0s - loss: 701.0227 - val_loss: 523.0009
Epoch 13/100
 - 0s - loss: 533.9659 - val_loss: 430.0712
Epoch 14/100
 - 0s - loss: 410.0092 - val_loss: 357.6945
Epoch 15/100
 - 3s - loss: 338.8502 - val_loss: 308.5722
Epoch 16/100
 - 1s - loss: 304.7697 - val_loss: 277.1553
Epoch 17/100
 - 6s - loss: 284.4844 - val_loss: 261.3580
Epoch 18/100
 - 5s - loss: 268.9366 - val_loss: 254.3317
Epoch 19/100
 - 1s - loss: 256.3801 - val_loss: 249.8730
Epoch 20/100
 - 2s - loss: 245.2022 - val_loss: 245.3340
Epoch 21/100
 - 2s - loss: 236.8434 - val_loss: 242.5943
Epoch 22/100
 - 1s - loss: 228.6003 - val_loss: 238.0415
Epoch 23/100
 - 1s - loss: 221.5498 - val_loss: 235.7239
Epoch 24/100
 - 10s - loss: 215.8621 - val_loss: 233.4022
Epoch 25/100
 - 2s - loss: 210.9402 - val_loss: 234.0188
Epoch 26/100
 - 2s - loss: 204.9043 - val_loss: 230.8304
Epoch 27/100
 - 4s - loss: 200.1450 - val_loss: 228.0547
Epoch 28/100
 - 5s - loss: 196.2198 - val_loss: 225.3178
Epoch 29/100
 - 8s - loss: 192.2520 - val_loss: 223.3933
Epoch 30/100
 - 1s - loss: 189.0928 - val_loss: 223.8753
Epoch 31/100
 - 2s - loss: 185.4404 - val_loss: 223.3423
Epoch 32/100
 - 2s - loss: 182.5261 - val_loss: 223.1938
Epoch 33/100
 - 6s - loss: 179.5791 - val_loss: 223.2700
Epoch 34/100
 - 4s - loss: 177.2480 - val_loss: 223.4598
Epoch 35/100
 - 0s - loss: 174.7061 - val_loss: 223.3746
Epoch 36/100
 - 0s - loss: 172.5193 - val_loss: 223.2375
Epoch 37/100
 - 0s - loss: 170.5722 - val_loss: 222.3531
Epoch 38/100
 - 4s - loss: 169.1744 - val_loss: 220.3848
Epoch 39/100
 - 1s - loss: 166.6793 - val_loss: 221.8622
Epoch 40/100
 - 2s - loss: 165.0717 - val_loss: 224.0047
Epoch 41/100
 - 9s - loss: 163.4610 - val_loss: 223.4852
Epoch 42/100
 - 4s - loss: 161.5721 - val_loss: 224.2812
Epoch 43/100
 - 1s - loss: 160.0465 - val_loss: 224.4952
Epoch 44/100
 - 2s - loss: 158.6538 - val_loss: 225.6074
Epoch 45/100
 - 2s - loss: 157.2974 - val_loss: 226.0341
Epoch 46/100
 - 6s - loss: 156.3011 - val_loss: 226.8525
Epoch 47/100
 - 1s - loss: 155.2357 - val_loss: 227.3540
Epoch 48/100
 - 1s - loss: 153.7840 - val_loss: 227.2098
Epoch 49/100
 - 1s - loss: 152.4655 - val_loss: 227.9221
Epoch 50/100
 - 1s - loss: 151.4171 - val_loss: 229.0646
Epoch 51/100
 - 2s - loss: 150.4346 - val_loss: 230.2494
Epoch 52/100
 - 1s - loss: 149.6937 - val_loss: 230.1500
Epoch 53/100
 - 2s - loss: 148.9634 - val_loss: 231.7891
Epoch 54/100
 - 10s - loss: 147.7878 - val_loss: 231.7168
Epoch 55/100
 - 2s - loss: 146.7385 - val_loss: 232.7796
Epoch 56/100
 - 1s - loss: 146.0960 - val_loss: 233.2610
Epoch 57/100
 - 1s - loss: 145.3550 - val_loss: 233.8192
Epoch 58/100
 - 1s - loss: 144.9394 - val_loss: 234.4528
Epoch 59/100
 - 1s - loss: 143.8215 - val_loss: 235.2570
Epoch 60/100
 - 0s - loss: 143.0571 - val_loss: 235.5294
Epoch 61/100
 - 0s - loss: 142.6047 - val_loss: 235.4534
Epoch 62/100
 - 0s - loss: 142.0123 - val_loss: 235.8660
Epoch 63/100
 - 1s - loss: 141.6285 - val_loss: 236.8479
Epoch 64/100
 - 2s - loss: 141.1007 - val_loss: 237.6024
Epoch 65/100
 - 9s - loss: 140.2920 - val_loss: 237.8989
Epoch 66/100
 - 0s - loss: 139.6951 - val_loss: 237.7250
Epoch 67/100
 - 0s - loss: 139.1006 - val_loss: 237.7114
Epoch 68/100
 - 1s - loss: 138.5552 - val_loss: 237.8890
Epoch 69/100
 - 1s - loss: 137.9858 - val_loss: 238.1646
Epoch 70/100
 - 0s - loss: 137.4262 - val_loss: 238.3354
Epoch 71/100
 - 0s - loss: 137.0130 - val_loss: 238.1211
Epoch 72/100
 - 0s - loss: 136.2596 - val_loss: 238.4703
Epoch 73/100
 - 0s - loss: 135.9838 - val_loss: 237.5201
Epoch 74/100
 - 0s - loss: 135.2176 - val_loss: 237.7217
Epoch 75/100
 - 0s - loss: 134.6543 - val_loss: 237.1580
Epoch 76/100
 - 0s - loss: 133.8200 - val_loss: 236.8829
Epoch 77/100
 - 0s - loss: 133.3508 - val_loss: 236.9071
Epoch 78/100
 - 1s - loss: 132.8418 - val_loss: 237.1031
Epoch 79/100
 - 1s - loss: 132.3046 - val_loss: 236.0365
Epoch 80/100
 - 1s - loss: 131.6353 - val_loss: 236.2435
Epoch 81/100
 - 9s - loss: 131.6086 - val_loss: 236.2037
Epoch 82/100
 - 1s - loss: 130.3770 - val_loss: 236.1265
Epoch 83/100
 - 1s - loss: 130.1940 - val_loss: 235.5189
Epoch 84/100
 - 2s - loss: 130.0280 - val_loss: 235.0094
Epoch 85/100
 - 2s - loss: 128.9060 - val_loss: 234.5625
Epoch 86/100
 - 2s - loss: 128.1651 - val_loss: 233.9340
Epoch 87/100
 - 1s - loss: 127.7570 - val_loss: 234.0490
Epoch 88/100
 - 11s - loss: 127.2838 - val_loss: 233.7870
Epoch 89/100
 - 1s - loss: 126.6166 - val_loss: 232.5384
Epoch 90/100
 - 0s - loss: 125.8530 - val_loss: 232.6833
Epoch 91/100
 - 0s - loss: 125.2053 - val_loss: 232.6832
Epoch 92/100
 - 0s - loss: 124.3618 - val_loss: 231.7537
Epoch 93/100
 - 0s - loss: 124.1147 - val_loss: 231.7638
Epoch 94/100
 - 1s - loss: 123.2945 - val_loss: 230.5714
Epoch 95/100
 - 2s - loss: 123.0497 - val_loss: 229.3298
Epoch 96/100
 - 9s - loss: 122.3805 - val_loss: 230.2152
Epoch 97/100
 - 2s - loss: 121.7329 - val_loss: 228.9299
Epoch 98/100
 - 1s - loss: 121.4200 - val_loss: 227.1066
Epoch 99/100
 - 2s - loss: 120.2782 - val_loss: 226.2315
Epoch 100/100
 - 1s - loss: 119.2520 - val_loss: 225.6720